body{
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ7IGJlkgGRIyf3nLubdT85_fDAr9d5-9kyt0_9MfhdRwHVB5-r);
    background-repeat: no-repeat;
    background-size: cover;  
    
}